.codeButton {
  text-decoration: none;
  padding: 0.5em;
  border: var(--border-thin);
  border-radius: var(--border-radius-sm);
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  margin: 0.5em 0;
}
