.wrapper {
  width: 100%;
}

.heading {
  font-size: 2.5rem;
  margin: 0 0.5rem;
}

.tagline {
  margin: 1em 0.5em 0;
  font-size: 1.2rem;
}

.links {
  display: flex;
  font-size: 1.25rem;
  margin: 1em 0;
}

.activeLink,
.inactiveLink {
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--text-color);
}

.activeLink {
  border-bottom: 3px solid var(--secondary-color);
}
