.wrapper {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  font-size: 3rem;
  max-width: 700px;
}

.imageContainer {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.blob {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 40%;
  background: #a37c50;
  border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
  z-index: 1;
  filter: blur(10px);
}

.seedlingImage {
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.ctaButton {
  cursor: pointer;
  margin: 1em 0;
  padding: 1em 2em;
  font-size: 1.25rem;
  border-radius: 12px;
  font-family: var(--primary-font);
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1.5rem auto;
  justify-content: center;
}

/* Media Queries */

@media (min-width: 886px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1450px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
