.wrapper {
  width: 100%;
}

/* Hero Banner */

.heroBanner {
  margin: 0 1em;
}

.header {
  font-size: 3rem;
}

.tagline {
  margin: 1em 0 0;
  font-size: 1.2rem;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 5em auto 1.5em;
  justify-content: center;
  max-width: 1200px;
  gap: 20px;
}

/* Media Queries */

@media (min-width: 595px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 886px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1450px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
