:root {
  /* Colours */
  --primary-color: #00a86b;
  --secondary-color: #ffb6b9;
  --text-color: #18191a;
  --text-color-white: #fbfcf8;
  --bg-color: #fbfcf8;
  --bg-color-footer: #ffeff1;
  --green-color: #007c4e;
  --red-color: #a8003d;
  --blue-color: #246bce;

  /* Font */
  --primary-font: "Montserrat", sans-serif;

  /* Borders */
  --border-radius-sm: 5px;
  --border-radius-lg: 18px;

  --border-thin: 1.5px solid #e5e5e5;

  /* Box Shadows */
  --box-shadow-grey: 0 3px 10px #e5e5e5;
}
