.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0.8em auto;
  border-radius: var(--border-radius-lg);
  border: var(--border-thin);
  box-shadow: var(--box-shadow-grey);
  box-sizing: border-box;
}

.form_container {
  margin: 1.2em;
}

.form_fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 3em 0 0;
  padding: 0;
}

.form_label {
  font-size: 1.1rem;
  padding: 0 0 1em;
}

.form_input {
  padding: 1em;
  font-family: var(--primary-font);
  background-color: transparent;
  border: var(--border-thin);
  border-radius: var(--border-radius-sm);
}

.form_button {
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 1rem;
  background-color: var(--green-color);
  color: var(--text-color-white);
  padding: 1em 1.5em;
  cursor: pointer;
  flex: 1;
  margin: 1em 0;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 1em 2.25em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .list {
    align-items: flex-start;
    margin: 3em 0;
  }
}
