.wrapper {
  width: 100%;
}

.heading {
  font-size: 2.5rem;
}

.tagline {
  margin: 1em 0 0;
  font-size: 1.2rem;
}

.componentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5.2em 0 2em;
}

.text {
  max-width: 600px;
  margin: 1em 2em 0;
}

.text_highlighted {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0 0.5em;
}

.text_bold {
  font-weight: 500;
}
