.wrapper {
  padding: 5rem 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.icon {
  width: 120px;
}
