.wrapper {
  padding: 1.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.heading {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 700;
}

.icon {
  width: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 0.2em;
}

@media (min-width: 527px) {
  .wrapper {
    flex-direction: column;
    padding: 2rem 0;
  }
  .icon {
    width: 60px;
  }
  .heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}
