.wrapper {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.icon {
  width: 60px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
