.wrapper {
  width: 900px;
  height: auto;
  margin: 1em 4em;
  padding: 1em;
  border: var(--border-thin);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.list {
  align-self: flex-start;
  margin: 1.6em;
  line-height: 1.5;
}

.form_fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 1.6em 0 0;
}

.form_label {
  font-size: 1.1rem;
  padding: 0 0 1em;
}

.form_input {
  padding: 1em;
  font-family: var(--primary-font);
  background-color: transparent;
  border: var(--border-thin);
  border-radius: var(--border-radius-sm);
}

.form_button {
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  padding: 1em 3em;
  margin: 1.8em 0 0;
  cursor: pointer;
  width: 100%;
}
