.cardContainer {
  border: var(--border-thin);
  max-width: 250px;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#e6f5e9 52%, var(--bg-color) 42%);
}

.cardImage {
  max-width: 120px;
  padding: 0.8em 0;
}

.cardTitle {
  font-size: 1.2rem;
  margin: 1.5em 0 1em;
}

.cardLink {
  border: var(--border-thin);
  padding: 1em;
  margin: 0 0 1em;
  border-radius: 15px;
  text-decoration: none;
  color: (var(--text-color));
}
