.wrapper {
  width: 450px;
  margin: 1em 4em;
  padding: 1em;
  border: var(--border-thin);
  background-color: #fff;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-grey);
  position: relative;
}

.header {
  font-weight: 500;
  text-align: center;
  margin: 2em 0 1em;
  font-size: 1.5rem;
}

.message {
  text-align: center;
  margin: 0 0 1.5em;
}

.form_fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 1.25em 0 0;
}

.form_label {
  font-size: 1.1rem;
  padding: 0 0 1em;
}

.form_input {
  padding: 1em;
  font-family: var(--primary-font);
}

.form_button {
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  padding: 1em 3em;
  margin: 1.8em 0 0;
  cursor: pointer;
  width: 100%;
}
