.wrapper {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 1.5em auto 3em;
  border-radius: 20px;
}

@media (min-width: 527px) {
  .wrapper {
    margin: 3em auto;
  }
}
